.profile{
  position: relative;
}

.menu {
    position: absolute;
    top: 57px;
    right: 5%;
    padding: 10px 10px 5px 10px;
    background: #F5F5F5		;
    width: 130px;
    /* box-sizing: 0 5px 25px rgb(0, 0, 0, 0.1); */
    border-radius: 15px;
    transition: 0.5s;
    z-index: 30;
    /* box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3); */
    border: 1px solid grey;

  }
  
  ul li {
    list-style: none;
  }

  a{
      text-decoration: none;
      color: black;
  }

  img:hover{
      cursor: pointer;
  }

  .awllogo{
    max-width: 35%;
  }

@media (max-width:500px){
  .menu{
    margin-top: 23%;
  }
}
